.header {
  display: flex;
  padding: 45px 0 41px 0;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width:1024px) {
  .header {
    padding: 28px 0 32px 25px;
  }
}
