{
  "extends": "airbnb-base",
  "overrides": [
    {
      "files": [
        "*.js"
      ],
      "rules": {
        "no-underscore-dangle": [
          "error",
          {
            "allow": [
              "_id",
              "._id",
              "_doc",
              "._doc"
            ]
          }
        ],
        "linebreak-style": [
          "error",
          "unix"
        ]
      }
    }
  ]
}