.profile {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

@media (max-width:564px) {
  .profile {
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
  }
}
