.popup__container-info-tooltip {
    max-width: 430px;
    min-height: 330px;
    padding: 60px 36px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 3;
    cursor: initial;
}

@media (max-width:564px) {
    .popup__container-info-tooltip {
        max-width: 282px;
        min-height: 322px;
        padding: 50px 18px;
    }
}