.profile__name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 507px;
}

@media (max-width:880px) {
  .profile__name {
    max-width: calc(100vw - 423px);
  }
}

@media (max-width:564px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 254px;
  }
}
