.profile__button-add {
  min-width: 150px;
  min-height: 50px;
  margin: 0;
  display: block;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background: #000000;
  background-image: url(../../../images/addbutton-img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 22px;
}

@media (max-width:564px) {
  .profile__button-add {
    min-width: 282px;
    background-size: 16px;
  }
}

.profile__button-add:hover {
  opacity: 0.6;
  transition: opacity 100ms ease-in;
  cursor: pointer;
}
